*,
*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/all_background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
}

.img {
    max-width: 100%;
    vertical-align: middle;
}

.container_menu {
    margin: 0px auto;
    max-width: 1400p;
    width: 100%;
    padding: 0 40px;
}

/* Navigation Section */

header {
    background-color: #c87e6b;
    padding: 1.5rem 0;
}

header .container_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.menu li a {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.border a {
    border: 2px solid white;
    border-radius: 10rem;
    padding: 0.2rem 0.4rem;
}

.icon {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8%;
}

.icon li a {
    display: inline-block;
    text-decoration: none;
}

/* Body One  */

.section_content.section_home .container {
    display: flex;
    align-items: center;

}

.section_content .container {
    position: relative;
}

.container_background img {
    width: 100%;
}

.section_content .container .content_info {
    position: absolute;
    right: 4%;
    top: 40%;
    transform: translateY(-50%);
    width: 45%;
    text-align: center;
}

.section_content .container .content_info {
    right: auto;
}

.content_title {
    font-size: 60px;
    padding-bottom: 1rem;
}

.content_description-1 {
    font-size: 25px;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.content_description-2 {
    font-size: 20px;
    padding-bottom: 0.5rem;
}

.content_button-1 {
    font-size: 15px;
    display: inline-block;
    background-color: rgb(119, 115, 115);
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
}

.content_button-2 {
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 2rem;
    font-weight: bold;
}


/* Body Two */

.stats-section {
    background: #7a4f2b;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stat h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.stat p {
    font-size: 16px;
    color: white;
    margin-top: 5px;
}


/* Body Three */

.top-products {
    padding: 50px 20px;

}

.product-title {
    text-align: center;
    font-size: 55px;
    color: #333;
    margin-bottom: 10px;
}

.product-text {
    text-align: center;
    color: #996633;
    font-size: 20px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.product-card {
    background: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-info {
    padding: 10px 20px;
}

.product-info h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 35px;
    color: #333;

}

.product-info p {
    font-size: 20px;
    color: #666;
}

button {
    background: #333;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #555;
}

.slider-controls {
    text-align: center;
    margin-top: 30px;
}

/* Body Four */

.top-pro {
    padding: 20px 20px;
}

.pro-title {
    text-align: center;
    font-size: 55px;
    color: #333;
    margin-bottom: 10px;
}

.pro-text {
    text-align: center;
    color: #996633;
    font-size: 20px;
}

.pro-img {
    text-align: center;
}

/* Body Five */

.section_contact .contact_container {
    position: relative;
}

.container_bg {
    text-align: center;
}

.section_contact .contact_container .contact_info {
    position: absolute;
    top: 30%;
    text-align: center;
    transform: translateX(35%);
}

.section_contact .contact_container .contact_info {
    right: auto;
}

.contact_title {
    font-size: 60px;
    padding-bottom: 1rem;
}

.contact_description-1 {
    font-size: 25px;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.contt_description-2 {
    font-size: 20px;
    padding-bottom: 0.5rem;
}

/* Body Six & Body Seven & Body Eight */

.section_content.section_home .container {
    display: flex;
    align-items: center;
}

.section_content .container {
    position: relative;
}

.container_background img {
    width: 100%;
}

.section_content .container .content_info {
    position: absolute;
    right: 4%;
    top: 45%;
    transform: translateY(-50%);
    width: 45%;
}

.section_content.section_about .container .content_info {
    right: auto;
    top: 50%;
}

.content_title {
    font-size: 55px;
    padding-bottom: 2rem;
}

.content_description {
    font-size: 25px;
    padding-bottom: 2rem;
}

.content_button {
    font-size: 20px;
    display: inline-block;
    background-color: rgb(61, 60, 60);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 20px;
}


/* Body Nine */

.section_master .master_container {
    text-align: center;
    padding: 2rem 0;
}

.section_master .review_wrap .contact_info {
    display: flex;
    justify-content: center;
}

.section_master .master_container {
    margin-top: 2rem;
    height: auto;
    padding: 0px 10px;
    text-align: center;
}

.contact_info {
    width: 100%;
    margin-top: 2rem;
    height: auto;
    padding: 0px 10px;
    text-align: center;
}

.info_title {
    font-size: 60px;
    padding-bottom: 1rem;
}

.info_description {
    margin: 0px 350px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.contact_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    line-height: 4;
}

.contact_name {
    width: 50%;
    height: auto;
    padding: 10px 0;
    padding-left: 10px;
    background-color: rgb(243, 242, 241);
    border: 2px solid rgb(230, 224, 224);
    color: rgb(177, 170, 170);

}

.contact_gender {
    width: 50%;
    height: auto;
    padding: 10px 0;
    padding-left: 10px;
    background-color: rgb(243, 242, 241);
    border: 2px solid rgb(230, 224, 224);
    color: rgb(177, 170, 170);

}

.contact_messages {
    width: 50%;
    height: 150px;
    padding: 10px 0;
    padding-left: 10px;
    background-color: rgb(243, 242, 241);
    border: 2px solid rgb(230, 224, 224);
    color: rgb(177, 170, 170);

}

.contact_button {
    padding: 10px;
    font-weight: bold;
    background-color: rgb(190, 128, 109);
    border: none;
    border-radius: 50px;
    color: white;
}

.contact_button:hover {
    opacity: 0.8;

}

/* Body Ten */

footer {
    background-color: #2f3257;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 180px;
    margin-bottom: 20px;
}

.footer-section .footer-section h4 {
    font-size: 18px;
    font-weight: bold;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    color: #b0b3b8;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #b0b3b8;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-section.copyright {
    text-align: center;
}

.footer-section.copyright img {
    width: 50px;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 8px;
    color: white;
    font-size: 18px;
}

.social-icons a:hover {
    color: #1e90ff;
}

.footer_button {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 75%;
}

.social_btn li a {
    text-decoration: none;
}

.social_btn li a:hover {
    opacity: .8;
}